
<h2>New star</h2>

<form action="/stars/new" method="POST">
  <label> Name:<input type="text" name="name"></label>
  
  <label>Occupation:<input type="text" name="occupation"></label>
  
  <label>Catchphrase:<input type="text" name="catchphrase"></label>
  
  <button type="submit">Mettre à jour</button>
</form>